body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#container{
  height: 50vh;
  display: flex;
  align-items: flex-end;
}
.bar{
  background-color: black;
  width: 10px;
  margin: 1px;
}
#head_container{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 500px;
  justify-content: space-between;

}
